.primary-botao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 32px;
  border-radius: 40px;
  box-sizing: border-box;
  width: fit-content;

  text-transform: uppercase;

  background: var(--primary-color);

  transition: background 0.1s;

  color: var(--brand-white);
}

.primary-botao:hover {
  background-color: var(--brand-green-hover);
}

.secondary-botao {
  padding: 10px 24px;
  border-radius: 40px;
  border: 1px solid var(--brand-green);
  transition: transform 0.1s;

  text-transform: uppercase;
}

.secondary-botao:hover {
  transform: scale(1.01);
}

.botao-mobile {
  background-color: var(--brand-white);
}
