body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--brand-green-light-02);

  overflow: overlay;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.container,
.container-footer {
  box-sizing: border-box;
  max-width: 1440px;
  padding: 100px 80px;
  margin: 0 auto;
}

.col-a {
  grid-area: A;
}

.col-b {
  grid-area: B;
}

@media (min-width: 991px) {
  body {
    overflow: auto;
  }
}

@media (max-width: 991px) {
  .container-footer {
    padding: 60px 80px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 100px 60px;
  }

  .container-footer {
    padding: 60px 60px;
  }
}

@media (max-width: 575.98px) {
  .container {
    padding: 100px 24px;
  }

  .container-footer {
    padding: 60px 24px;
  }
}
