#about {
  background-color: var(--brand-beige);
}

#about .title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

#about .content {
  display: flex;
  flex-direction: column;
}

#about img {
  width: 100%;
}

#about img {
  margin-top: 60px;
}

@media (min-width: 991px) {
  #about img {
    margin-top: 0;
  }

  #about .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "B A";
    gap: 60px;
  }
}
