#contact .title {
  margin-bottom: 32px;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

#contact ul li {
  display: flex;
  gap: 8px;
}

#contact .content a {
  margin-bottom: 60px;
}

#contact .col-b img {
  display: block;
  width: 100%;
}

@media (min-width: 991px) {
  #contact .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 36rem;
    grid-template-areas: "A B";
    gap: 60px;
  }

  #contact h2 {
    max-width: 400px;
  }
}
